services:
  jgp_app:
    container_name: jgp_app
    env_file:
      - ./env/.env
    build:
      context: https://github.com/jgpapp/jmis.git#main:jgp-database-app
      dockerfile: Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    restart: on-failure
    networks:
      - jgp-app-network
    environment:
      - POSTGRESQL_HOST=${POSTGRESQL_HOST:-jgp_postgres}
      - POSTGRESQL_PORT=${POSTGRESQL_PORT:-5432}
      - POSTGRESQL_USER=${POSTGRESQL_USER:-postgres}
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD:-postgres}
      - POSTGRESQL_DATABASE=${POSTGRESQL_DATABASE:-jgp_db}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-production}
      - KEY_STORE_PATH=${KEY_STORE_PATH:-/etc/path/keystore.p12}
      - KEY_STORE_PASS_PHRASE=${KEY_STORE_PASS_PHRASE:-passphrase}
      - KEY_STORE_ALIAS=tomcat
      - SPRING_HTTPS_PORT=8082
      - JGP_DASHBOARD_DEFAULT_VIEW_PERIOD_IN_MONTHS=6
      - JGP_NOTIFICATION_ENABLED=true
      - JGP_NOTIFICATION_MAIL_HOST=${JGP_EMAIL_NOTIFICATION_MAIL_HOST:-smtp.example.com}
      - JGP_NOTIFICATION_USERNAME=${JGP_EMAIL_NOTIFICATION_USERNAME:-server@gmail.com}
      - JGP_NOTIFICATION_PASSWORD=${JGP_EMAIL_NOTIFICATION_PASSWORD:-secretpassword}
      - JGP_JWT_ACCESS_TOKEN_TTL=21600000
      - JGP_JWT_REFRESH_TOKEN_TTL=86400000
    ports:
      - "8082:8082"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro  # Mount Let's Encrypt certificates from host
      - /home/jmis/.jgp_documents:/root/.jgp_documents  # Persist JGP documents on the host
  jgp_app_ui:
    container_name: jgp_app_ui
    env_file:
      - ./env/.env
    build:
      context: https://github.com/jgpapp/jmis.git#main:jgp-database-web
      dockerfile: Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    restart: on-failure
    networks:
      - jgp-app-network
    environment:
      - SERVER_NAME=${SERVER_NAME:-somedomain.com}
      - SSL_CERT_PATH=${SSL_CERT_PATH:-/etc/path/fullchain.pem}
      - SSL_KEY_PATH=${SSL_KEY_PATH:-/etc/path/privkey.pem}
    depends_on:
      - jgp_app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro  # Mount Let's Encrypt certificates from host
      - ./nginx/nginx-log:/var/log/nginx  # Persist Nginx logs on the host
networks:
  jgp-app-network:
    driver: bridge