.participant-search-container {
  display: flex;
  justify-content: center710428299;
  align-items: center;
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  .participant-search-input {
    flex: 1;
    font-size: 1.2rem;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
 
}