@use "app/theme/styles/base";
@use "app/theme/styles/spaces";
@use "app/theme/styles/libs-override";
@use "app/theme/styles/theme";
@use "app/theme/styles/gradients";
@use "app/theme/styles/rtl";

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');

// azure-blue, rose-red, magenta-violet and cyan-orange.
@import '@angular/material/prebuilt-themes/azure-blue.css';
 
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/dragula/dist/dragula.min.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css"; 
@import "../node_modules/leaflet/dist/leaflet.css";

.mat-mdc-row .mat-mdc-cell {
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: #b7bbbb;
  }


 /* Ensure the dialog takes full width and height of the viewport */
.custom-dialog-container .mat-dialog-container {
  height: 100vh;  /* Full viewport height */
  width: 100vw;   /* Full viewport width */
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure the content inside the dialog stretches to fit */
.full-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: lightblue;
}

.dash-board-reset-link {
  color: #227749;
}

.dash-board-reset-link:hover {
  color: #227749;
  text-decoration: underline;
  cursor: pointer;
}

.no-data-placeholder {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #888;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.container-for-top-right-button {
  position: relative; /* Ensure the parent container has relative positioning */
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.card-chart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: center;

}