
    <form [formGroup]="dashFilterForm" fxLayout="row wrap" fxLayoutAlign="center center"> 
        @if(!isPartnerDashBoard){
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="px-2">
                <mat-label>Select Partner</mat-label>
                <mat-select formControlName="selectedPartnerId" (selectionChange)="filterFormChanged()">
                    <mat-option value="0">All</mat-option>
                    @for (partner of partners; track partner) {
                        <mat-option [value]="partner.id">{{partner.partnerName}}</mat-option>
                      }
                </mat-select>
            </mat-form-field>
        }
        
        <mat-form-field appearance="outline" fxFlex="100" [fxFlex.xl]="fieldFlex" [fxFlex.lg]="fieldFlex" fxFlex.md="33.3" fxFlex.sm="50" class="px-2">
            <mat-label>Select County</mat-label>
            <mat-select formControlName="selectedCountyCode" (selectionChange)="filterFormChanged()">
                <mat-option value="0">All</mat-option>
                @for (county of counties; track county) {
                    <mat-option [value]="county.countyCode">{{county.countyName}}</mat-option>
                  }
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100" [fxFlex.xl]="fieldFlex" [fxFlex.lg]="fieldFlex" fxFlex.md="33.3" fxFlex.sm="50" class="px-2">
            <input matInput [matDatepicker]="dateFrom" placeholder="Date From" formControlName="selectedDateFrom" 
            (dateInput)="filterFromDateChanged()" (dateChange)="filterFromDateChanged()" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100" [fxFlex.xl]="fieldFlex" [fxFlex.lg]="fieldFlex" fxFlex.md="33.3" fxFlex.sm="50" class="px-2">
            <input matInput [matDatepicker]="dateTo" placeholder="Date To" formControlName="selectedDateTo" 
            (dateInput)="filterFormChanged()" (dateChange)="filterFormChanged()" [min]="toDateMinValue" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker #dateTo  [disabled]="disableToDate"></mat-datepicker>
        </mat-form-field>
    </form>
