<app-content-header
    icon="dashboard" 
    desc="Welcome to Jiinue Management Information System – Manage your data, monitor progress, and visualize your impact"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'py-3'"/>

    <div class="p-2">
        <div fxLayout="row" fxLayoutAlign="center center">
            <a class="dash-board-reset-link" mat-menu-item (click)="doResetDashBoardFilters()">Reset Filters</a>
        </div>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
            <mat-card class="gradient-orange tile p-2">
                <mat-icon>group</mat-icon>
                <h2>{{highLevelSummary.businessesTrained}}</h2>
                <p>Businesses Trained</p>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.xl="75" fxFlex.lg="75" fxFlex.md="67.7" fxFlex.sm="50" class="p-2">
            <app-dashboard-filters 
            (dashBoardFilters)="setDashBoardFilters($event)" 
            [isPartnerDashBoard]="true" 
            [partnerId]="partnerId"
            [fieldFlex]="33"
            [resetDashBoardFilters]="resetDashBoardFilters"
            />
        </div>
        
    </div>
    <div fxLayout="row wrap" #resizedDiv>
     
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{TANeedsByGenderChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (TANeedsByGender && TANeedsByGender.length > 0) {
                    <ngx-charts-bar-vertical-2d
                        [scheme]="chartSColorScheme"
                        [results]="TANeedsByGender"
                        [gradient]="gradient"
                        [xAxis]="TANeedsByGenderShowXAxis"
                        [yAxis]="TANeedsByGenderShowYAxis"
                        [legend]="TANeedsByGenderShowLegend"
                        [showXAxisLabel]="TANeedsByGenderShowXAxisLabel"
                        [showYAxisLabel]="TANeedsByGenderShowYAxisLabel"
                        [xAxisLabel]="TANeedsByGenderXAxisLabel"
                        [yAxisLabel]="TANeedsByGenderYAxisLabel"
                        [showDataLabel]="true"
                        (select)="onSelect($event)"
                        />
                    } @else {
                        <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                    }        
                </div>
            </mat-card>
        </div>   
      
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{taTrainedBySectorChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (taTrainedBySector && taTrainedBySector.length > 0) {
                    <ngx-charts-bar-horizontal
                        [scheme]="chartSColorScheme"
                        [results]="taTrainedBySector"
                        [gradient]="gradient"
                        [xAxis]="taTrainedBySectorShowXAxis"
                        [yAxis]="taTrainedBySectorShowYAxis"
                        [legend]="taTrainedBySectorShowLegend"
                        [showXAxisLabel]="taTrainedBySectorShowXAxisLabel"
                        [showYAxisLabel]="taTrainedBySectorShowYAxisLabel"
                        [xAxisLabel]="taTrainedBySectorYAxisLabel"
                        [yAxisLabel]="taTrainedBySectorXAxisLabel"
                        [showDataLabel]="true"
                        (select)="onSelect($event)"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }          
                </div>
            </mat-card>
        </div>  

        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{taTrainedBySegmentChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (taTrainedBySegment && taTrainedBySegment.length > 0) {
                    <app-pie-chart 
                [data]="taTrainedBySegment" 
                [showLegend]="taTrainedBySegmentShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="taTrainedBySegmentShowLabels" 
                [explodeSlices]="taTrainedBySegmentExplodeSlices" 
                [doughnut]="taTrainedBySegmentDoughnut" 
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
                </div>
            </mat-card>
        </div> 

        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{businessesTainedByGenderChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (businessesTainedByGender && businessesTainedByGender.length > 0) {
                    <app-pie-chart 
                    [data]="businessesTainedByGender" 
                    [showLegend]="businessesTainedByGenderShowLegend" 
                    [colorScheme]="chartSColorScheme" 
                    [showLabels]="businessesTainedByGenderShowLabels" 
                    [explodeSlices]="businessesTainedByGenderExplodeSlices" 
                    [doughnut]="businessesTainedByGenderDoughnut"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }        
                </div>
            </mat-card>
        </div> 

        @if (displayChart) {
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{topFourCountiesBusinessesTrainedChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (topFourCountiesBusinessesTrained && topFourCountiesBusinessesTrained.length > 0) {
                    <ngx-charts-tree-map
                    [results]="topFourCountiesBusinessesTrained" 
                    [scheme]="chartSColorScheme"
                    [animations]="true"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }        
                </div>
            </mat-card>
        </div> 
    }

    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button"> 
          
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{employeesSummaryChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (employeesSummary && employeesSummary.length > 0) {
                <ngx-charts-bar-horizontal
                    [scheme]="chartSColorScheme"
                    [results]="employeesSummary"
                    [gradient]="gradient"
                    [xAxis]="employeesSummaryShowXAxis"
                    [yAxis]="employeesSummaryShowYAxis"
                    [legend]="employeesSummaryShowLegend"
                    [showXAxisLabel]="employeesSummaryShowXAxisLabel"
                    [showYAxisLabel]="employeesSummaryShowYAxisLabel"
                    [xAxisLabel]="employeesSummaryYAxisLabel"
                    [yAxisLabel]="employeesSummaryXAxisLabel"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div>  

    @if(isTADashboard()){
        <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{refugeeBusinessesTainedByGenderChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (refugeeBusinessesTainedByGender && refugeeBusinessesTainedByGender.length > 0) {
                    <app-pie-chart 
                    [data]="refugeeBusinessesTainedByGender" 
                    [showLegend]="refugeeBusinessesTainedByGenderShowLegend" 
                    [colorScheme]="chartSColorScheme" 
                    [showLabels]="refugeeBusinessesTainedByGenderShowLabels" 
                    [explodeSlices]="refugeeBusinessesTainedByGenderExplodeSlices" 
                    [doughnut]="refugeeBusinessesTainedByGenderDoughnut"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }        
                </div>
            </mat-card>
        </div> 
    }
    
    @if(isTADashboard()){
        <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{disabledBusinessesTainedByGenderChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (disabledBusinessesTainedByGender && disabledBusinessesTainedByGender.length > 0) {
                    <app-pie-chart 
                    [data]="disabledBusinessesTainedByGender" 
                    [showLegend]="disabledBusinessesTainedByGenderShowLegend" 
                    [colorScheme]="chartSColorScheme" 
                    [showLabels]="disabledBusinessesTainedByGenderShowLabels" 
                    [explodeSlices]="disabledBusinessesTainedByGenderExplodeSlices" 
                    [doughnut]="disabledBusinessesTainedByGenderDoughnut"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }        
                </div>
            </mat-card>
        </div> 
    }
         
    </div>

    <div fxLayout="row wrap">
    @if(isTADashboard()){
        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center">                
                    <mat-card-title>Businesses Trained By Partner</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(trainedBusinessesCountDataDataSource, displayedColumns, 'BUSINESSES_TRAINED')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="trainedBusinessesCountDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayTrainedBusinessesCountDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayTrainedBusinessesCountDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                          
                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Trained Businesses </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }

    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
        <app-performance-summary [selectedDashboardView]="selectedDashboardView"/>
    </div>
    </div>
    

</div>

<!-- Template for no data placeholder -->
<ng-template #noDataPlaceholder>
    <div class="no-data-placeholder">
      <p>No data available to display</p>
    </div>
  </ng-template>