<div fxLayout="row wrap" #resizedDiv>

    @if(dashboardTypeFilter.isFinancialDashboard){

     <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loansDisbursedByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoansDisbursedByGenderDoughnut()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loansDisbursedByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p" fxLayoutAlign="center center">
                @if (loansDisbursedByGender && loansDisbursedByGender.length > 0) {
                <app-doughnut [config]="loansDisbursedByGenderPieConfig" [chartSColorScheme]="chartSColorScheme"></app-doughnut>
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
    }
    @if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loansDisbursedByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoansDisbursedByGenderDoughnut()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loansDisbursedByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loansDisbursedByGender && loansDisbursedByGender.length > 0) {
                <app-pie-chart 
                [data]="loansDisbursedByGender" 
                [showLegend]="loansDisbursedByGenderShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="loansDisbursedByGenderShowLabels" 
                [explodeSlices]="loansDisbursedByGenderExplodeSlices" 
                [doughnut]="loansDisbursedByGenderDoughnut"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}
    

@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loansDisbursedByPipelineContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoansDisbursedByPipelinePieChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loansDisbursedByPipelineChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loansDisbursedByPipeline && loansDisbursedByPipeline.length > 0) {
                <app-pie-chart 
            [data]="loansDisbursedByPipeline" 
            [showLegend]="loansDisbursedByPipelineShowLegend" 
            [colorScheme]="chartSColorScheme" 
            [showLabels]="loansDisbursedByPipelineShowLabels" 
            [explodeSlices]="loansDisbursedByPipelineExplodeSlices" 
            [doughnut]="loansDisbursedByPipelineDoughnut" 
            />
        } @else {
            <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
        }         
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isMentorShipDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #mentorshipGenderSummaryContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandMentorshipGenderSummaryPieChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{mentorshipGenderSummaryChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (mentorshipGenderSummary && mentorshipGenderSummary.length > 0) {
                <app-pie-chart 
            [data]="mentorshipGenderSummary" 
            [showLegend]="mentorshipGenderSummaryShowLegend" 
            [colorScheme]="chartSColorScheme" 
            [showLabels]="mentorshipGenderSummaryShowLabels" 
            [explodeSlices]="mentorshipGenderSummaryExplodeSlices" 
            [doughnut]="mentorshipGenderSummaryDoughnut" 
            />
        } @else {
            <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
        }         
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loansDisbursedByStatusContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoansDisbursedByStatusBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loansDisbursedByStatusChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loansDisbursedByStatus && loansDisbursedByStatus.length > 0) {
                    <app-bar-chart
                    [config]="loansDisbursedByStatusBarChartConfig"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div> 
}
    
@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loansDisbursedBySegmentContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoansDisbursedBySegmentDoughnut()">
            <mat-icon>open_in_full</mat-icon>
        </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loansDisbursedBySegmentChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loansDisbursedBySegment && loansDisbursedBySegment.length > 0) {
                <app-pie-chart 
            [data]="loansDisbursedBySegment" 
            [showLegend]="loansDisbursedBySegmentShowLegend" 
            [colorScheme]="chartSColorScheme" 
            [showLabels]="loansDisbursedBySegmentShowLabels" 
            [explodeSlices]="loansDisbursedBySegmentExplodeSlices" 
            [doughnut]="loansDisbursedBySegmentDoughnut" 
            />
        } @else {
            <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
        }         
            </div>
        </mat-card>
    </div>
}


@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #businessesTainedByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandBusinessesTainedByGenderDoughnut()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{businessesTainedByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (businessesTainedByGender && businessesTainedByGender.length > 0) {
                <app-pie-chart 
                [data]="businessesTainedByGender" 
                [showLegend]="businessesTainedByGenderShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="businessesTainedByGenderShowLabels" 
                [explodeSlices]="businessesTainedByGenderExplodeSlices" 
                [doughnut]="businessesTainedByGenderDoughnut"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loanDisbursedByProductByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoanDisbursedByProductByGenderBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loanDisbursedByProductByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loanDisbursedByProductByGender && loanDisbursedByProductByGender.length > 0) {
                <ngx-charts-bar-vertical-2d
                    [scheme]="chartSColorScheme"
                    [results]="loanDisbursedByProductByGender"
                    [gradient]="gradient"
                    [xAxis]="loanDisbursedByProductByGenderShowXAxis"
                    [yAxis]="loanDisbursedByProductByGenderShowYAxis"
                    [legend]="loanDisbursedByProductByGenderShowLegend"
                    [showXAxisLabel]="loanDisbursedByProductByGenderShowXAxisLabel"
                    [showYAxisLabel]="loanDisbursedByProductByGenderShowYAxisLabel"
                    [xAxisLabel]="loanDisbursedByProductByGenderXAxisLabel"
                    [yAxisLabel]="loanDisbursedByProductByGenderYAxisLabel"
                    [dataLabelFormatting]="valueFormatting"
                    [showDataLabel]="true"
                    (select)="onSelect($event)" 
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loanedBusinessesByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoanedBusinessesByGenderDoughnut()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loanedBusinessesByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loanedBusinessesByGender && loanedBusinessesByGender.length > 0) {
                <app-pie-chart 
                [data]="loanedBusinessesByGender" 
                [showLegend]="loanedBusinessesByGenderShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="loanedBusinessesByGenderShowLabels" 
                [explodeSlices]="loanedBusinessesByGenderExplodeSlices" 
                [doughnut]="loanedBusinessesByGenderDoughnut"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}
    
@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #taTrainedBySectorContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandTaTrainedBySectorBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{taTrainedBySectorChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (taTrainedBySector && taTrainedBySector.length > 0) {
                <ngx-charts-bar-horizontal
                    [scheme]="chartSColorScheme"
                    [results]="taTrainedBySector"
                    [gradient]="gradient"
                    [xAxis]="taTrainedBySectorShowXAxis"
                    [yAxis]="taTrainedBySectorShowYAxis"
                    [legend]="taTrainedBySectorShowLegend"
                    [showXAxisLabel]="taTrainedBySectorShowXAxisLabel"
                    [showYAxisLabel]="taTrainedBySectorShowYAxisLabel"
                    [xAxisLabel]="taTrainedBySectorYAxisLabel"
                    [yAxisLabel]="taTrainedBySectorXAxisLabel"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div>  
}

@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #accessedVSOutStandingAmountContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandAccessedVSOutStandingAmountBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{accessedVSOutStandingAmountChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (accessedVSOutStandingAmount && accessedVSOutStandingAmount.length > 0) {
               

                <ngx-charts-bar-horizontal-2d
                    [scheme]="chartSColorScheme"
                    [results]="accessedVSOutStandingAmount"
                    [gradient]="gradient"
                    [xAxis]="accessedVSOutStandingAmountShowXAxis"
                    [yAxis]="accessedVSOutStandingAmountShowYAxis"
                    [legend]="accessedVSOutStandingAmountShowLegend"
                    [showXAxisLabel]="accessedVSOutStandingAmountShowXAxisLabel"
                    [showYAxisLabel]="accessedVSOutStandingAmountShowYAxisLabel"
                    [xAxisLabel]="accessedVSOutStandingAmountYAxisLabel"
                    [yAxisLabel]="accessedVSOutStandingAmountXAxisLabel"
                    [dataLabelFormatting]="valueFormatting"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #taTrainedBySegmentContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandTaTrainedBySegmentPieChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{taTrainedBySegmentChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (taTrainedBySegment && taTrainedBySegment.length > 0) {
                <app-pie-chart 
            [data]="taTrainedBySegment" 
            [showLegend]="taTrainedBySegmentShowLegend" 
            [colorScheme]="chartSColorScheme" 
            [showLabels]="taTrainedBySegmentShowLabels" 
            [explodeSlices]="taTrainedBySegmentExplodeSlices" 
            [doughnut]="taTrainedBySegmentDoughnut" 
            />
        } @else {
            <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
        }         
            </div>
        </mat-card>
    </div>  
}


@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #accessedVSOutStandingAmountByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandAccessedVSOutStandingAmountByGenderBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{accessedVSOutStandingAmountByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (accessedVSOutStandingAmountByGender && accessedVSOutStandingAmountByGender.length > 0) {
               
                <ngx-charts-bar-horizontal-2d
                    [scheme]="chartSColorScheme"
                    [results]="accessedVSOutStandingAmountByGender"
                    [gradient]="gradient"
                    [xAxis]="accessedVSOutStandingAmountByGenderShowXAxis"
                    [yAxis]="accessedVSOutStandingAmountByGenderShowYAxis"
                    [legend]="accessedVSOutStandingAmountByGenderShowLegend"
                    [showXAxisLabel]="accessedVSOutStandingAmountByGenderShowXAxisLabel"
                    [showYAxisLabel]="accessedVSOutStandingAmountByGenderShowYAxisLabel"
                    [xAxisLabel]="accessedVSOutStandingAmountByGenderYAxisLabel"
                    [yAxisLabel]="accessedVSOutStandingAmountByGenderXAxisLabel"
                    [dataLabelFormatting]="valueFormatting"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loansDisbursedBySectorContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoansDisbursedBySectorDoughnut()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loansDisbursedBySectorChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loansDisbursedBySector && loansDisbursedBySector.length > 0) {
                <app-pie-chart 
                [data]="loansDisbursedBySector" 
                [showLegend]="loansDisbursedBySectorShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="loansDisbursedBySectorShowLabels" 
                [explodeSlices]="loansDisbursedBySectorExplodeSlices" 
                [doughnut]="loansDisbursedBySectorDoughnut"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isFinancialDashboard && displayChart){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{topFourPartnersloansDisbursedChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (topFourPartnersloansDisbursed && topFourPartnersloansDisbursed.length > 0) {
                <ngx-charts-tree-map 
                [results]="topFourPartnersloansDisbursed" 
                [scheme]="chartSColorScheme"
                [animations]="true"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #countyTrainedBusinessesMapContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandCountyTrainedBusinessesMap()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>Training By County</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (countySummary && countySummary.length > 0) {
                <img matListItemAvatar [src]="keMapImage" class="map-place-holder-img">
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div>
}

@if(dashboardTypeFilter.isTADashboard && displayChart){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{topFourCountiesBusinessesTrainedChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (topFourCountiesBusinessesTrained && topFourCountiesBusinessesTrained.length > 0) {
                <ngx-charts-tree-map 
                [results]="topFourCountiesBusinessesTrained" 
                [scheme]="chartSColorScheme"
                [animations]="true"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }      
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isFinancialDashboard && displayChart){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{topFourCountiesloansDisbursedChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (topFourCountiesloansDisbursed && topFourCountiesloansDisbursed.length > 0) {
                <ngx-charts-tree-map 
                [results]="topFourCountiesloansDisbursed" 
                [scheme]="chartSColorScheme"
                [animations]="true"
                />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }      
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #employeesSummaryContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandEmployeesSummaryBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{employeesSummaryChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (employeesSummary && employeesSummary.length > 0) {
                <ngx-charts-bar-horizontal
                    [scheme]="chartSColorScheme"
                    [results]="employeesSummary"
                    [gradient]="gradient"
                    [xAxis]="employeesSummaryShowXAxis"
                    [yAxis]="employeesSummaryShowYAxis"
                    [legend]="employeesSummaryShowLegend"
                    [showXAxisLabel]="employeesSummaryShowXAxisLabel"
                    [showYAxisLabel]="employeesSummaryShowYAxisLabel"
                    [xAxisLabel]="employeesSummaryYAxisLabel"
                    [yAxisLabel]="employeesSummaryXAxisLabel"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div>  
}

@if(dashboardTypeFilter.isMentorShipDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #mentorshipDeliveryModeSummaryContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandMentorshipDeliveryModeSummaryBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{mentorshipDeliveryModeSummaryChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (mentorshipDeliveryModeSummary && mentorshipDeliveryModeSummary.length > 0) {
                <ngx-charts-bar-horizontal
                    [scheme]="chartSColorScheme"
                    [results]="mentorshipDeliveryModeSummary"
                    [gradient]="gradient"
                    [xAxis]="mentorshipDeliveryModeSummaryShowXAxis"
                    [yAxis]="mentorshipDeliveryModeSummaryShowYAxis"
                    [legend]="mentorshipDeliveryModeSummaryShowLegend"
                    [showXAxisLabel]="mentorshipDeliveryModeSummaryShowXAxisLabel"
                    [showYAxisLabel]="mentorshipDeliveryModeSummaryShowYAxisLabel"
                    [xAxisLabel]="mentorshipDeliveryModeSummaryYAxisLabel"
                    [yAxisLabel]="mentorshipDeliveryModeSummaryXAxisLabel"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div>  
}

@if(dashboardTypeFilter.isMentorShipDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #mentorshipBusiCategoryByCountySummaryContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandMentorshipBusiCategoryByCountySummaryBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{mentorshipBusiCategoryByCountySummaryChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (mentorshipBusiCategoryByCountySummary && mentorshipBusiCategoryByCountySummary.length > 0) {

                <ngx-charts-bar-horizontal-stacked
                    [scheme]="chartSColorScheme"
                    [results]="mentorshipBusiCategoryByCountySummary"
                    [gradient]="gradient"
                    [xAxis]="mentorshipBusiCategoryByCountySummaryShowXAxis"
                    [yAxis]="mentorshipBusiCategoryByCountySummaryShowYAxis"
                    [legend]="mentorshipBusiCategoryByCountySummaryShowLegend"
                    [showXAxisLabel]="mentorshipBusiCategoryByCountySummaryShowXAxisLabel"
                    [showYAxisLabel]="mentorshipBusiCategoryByCountySummaryShowYAxisLabel"
                    [xAxisLabel]="mentorshipBusiCategoryByCountySummaryXAxisLabel"
                    [yAxisLabel]="mentorshipBusiCategoryByCountySummaryYAxisLabel"
                    (select)="onSelect($event)">
                </ngx-charts-bar-horizontal-stacked> 
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div>  
}

@if(dashboardTypeFilter.isMentorShipDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #mentorshipByGenderCategoryContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandMentorshipByGenderCategoryContentDivDoughnut()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{mentorshipByGenderCategoryChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (mentorshipByGenderCategory && mentorshipByGenderCategory.length > 0) {
                <app-pie-chart 
                [data]="mentorshipByGenderCategory" 
                [showLegend]="mentorshipByGenderCategoryShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="mentorshipByGenderCategoryShowLabels" 
                [explodeSlices]="mentorshipByGenderCategoryExplodeSlices" 
                [doughnut]="mentorshipByGenderCategoryDoughnut"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isMentorShipDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #mentorshipByDisabilitySummaryContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandMentorshipByDisabilitySummaryBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{mentorshipByDisabilitySummaryChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (mentorshipByDisabilitySummary && mentorshipByDisabilitySummary.length > 0) {
                <ngx-charts-bar-horizontal
                    [scheme]="chartSColorScheme"
                    [results]="mentorshipByDisabilitySummary"
                    [gradient]="gradient"
                    [xAxis]="mentorshipByDisabilitySummaryShowXAxis"
                    [yAxis]="mentorshipByDisabilitySummaryShowYAxis"
                    [legend]="mentorshipByDisabilitySummaryShowLegend"
                    [showXAxisLabel]="mentorshipByDisabilitySummaryShowXAxisLabel"
                    [showYAxisLabel]="mentorshipByDisabilitySummaryShowYAxisLabel"
                    [xAxisLabel]="mentorshipByDisabilitySummaryYAxisLabel"
                    [yAxisLabel]="mentorshipByDisabilitySummaryXAxisLabel"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div>  
}

@if(dashboardTypeFilter.isMentorShipDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #countyMentorshipMapContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandCountyMentorshipMap()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>Mentorship By County</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (countySummary && countySummary.length > 0) {
                <img matListItemAvatar [src]="keMapImage" class="map-place-holder-img">
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div>
}

@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #refugeeBusinessesTainedByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandRefugeeBusinessesTainedByGenderPieChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{refugeeBusinessesTainedByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (refugeeBusinessesTainedByGender && refugeeBusinessesTainedByGender.length > 0) {
                <app-pie-chart 
                [data]="refugeeBusinessesTainedByGender" 
                [showLegend]="refugeeBusinessesTainedByGenderShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="refugeeBusinessesTainedByGenderShowLabels" 
                [explodeSlices]="refugeeBusinessesTainedByGenderExplodeSlices" 
                [doughnut]="refugeeBusinessesTainedByGenderDoughnut"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}

@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #disabledBusinessesTainedByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandDisabledBusinessesTainedByGenderPieChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{disabledBusinessesTainedByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (disabledBusinessesTainedByGender && disabledBusinessesTainedByGender.length > 0) {
                <app-pie-chart 
                [data]="disabledBusinessesTainedByGender" 
                [showLegend]="disabledBusinessesTainedByGenderShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="disabledBusinessesTainedByGenderShowLabels" 
                [explodeSlices]="disabledBusinessesTainedByGenderExplodeSlices" 
                [doughnut]="disabledBusinessesTainedByGenderDoughnut"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div> 
}


@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #taNeedsByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandTANeedsByGenderBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{TANeedsByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (TANeedsByGender && TANeedsByGender.length > 0) {
                <ngx-charts-bar-vertical-2d
                    [scheme]="chartSColorScheme"
                    [results]="TANeedsByGender"
                    [gradient]="gradient"
                    [xAxis]="TANeedsByGenderShowXAxis"
                    [yAxis]="TANeedsByGenderShowYAxis"
                    [legend]="TANeedsByGenderShowLegend"
                    [showXAxisLabel]="TANeedsByGenderShowXAxisLabel"
                    [showYAxisLabel]="TANeedsByGenderShowYAxisLabel"
                    [xAxisLabel]="TANeedsByGenderXAxisLabel"
                    [yAxisLabel]="TANeedsByGenderYAxisLabel"
                    [dataLabelFormatting]="valueFormatting"
                    [showDataLabel]="true"
                    (select)="onSelect($event)"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
            </div>
        </mat-card>
    </div>
}

@if(dashboardTypeFilter.isTADashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #trainingByPartnerByGenderContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandTrainingByPartnerByGenderBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{trainingByPartnerByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (trainingByPartnerByGender && trainingByPartnerByGender.length > 0) {
                <ngx-charts-bar-vertical-2d
                    [scheme]="chartSColorScheme"
                    [results]="trainingByPartnerByGender"
                    [gradient]="gradient"
                    [xAxis]="trainingByPartnerByGenderShowXAxis"
                    [yAxis]="trainingByPartnerByGenderShowYAxis"
                    [legend]="trainingByPartnerByGenderShowLegend"
                    [showXAxisLabel]="trainingByPartnerByGenderShowXAxisLabel"
                    [showYAxisLabel]="trainingByPartnerByGenderShowYAxisLabel"
                    [xAxisLabel]="trainingByPartnerByGenderXAxisLabel"
                    [yAxisLabel]="trainingByPartnerByGenderYAxisLabel"
                    [dataLabelFormatting]="valueFormatting"
                    [showDataLabel]="true"
                    (select)="onSelect($event)" 
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
            </div>
        </mat-card>
    </div> 
}


@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #loansDisbursedByProductContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandLoansDisbursedByProductBarChart()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{loansDisbursedByProductBarChartConfig.title}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (loansDisbursedByProduct && loansDisbursedByProduct.length > 0) {
                <app-bar-chart
                    [config]="loansDisbursedByProductBarChartConfig"
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }          
            </div>
        </mat-card>
    </div>  
}

@if(dashboardTypeFilter.isFinancialDashboard){
    <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2 container-for-top-right-button" #countyLendingMapContentDiv> 
        <button mat-icon-button class="top-right-button" (click)="expandCountyLendingMap()">
            <mat-icon>open_in_full</mat-icon>
          </button>
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>Lending By County</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                @if (countySummary && countySummary.length > 0) {
                <img matListItemAvatar [src]="keMapImage" class="map-place-holder-img">
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }        
            </div>
        </mat-card>
    </div>
}

</div>

<!-- Template for no data placeholder -->
<ng-template #noDataPlaceholder>
    <div class="no-data-placeholder">
      <p>No data available to display</p>
    </div>
  </ng-template>

