<app-content-header
    icon="dashboard" 
    desc="Welcome to Jiinue Management Information System – Manage your data, monitor progress, and visualize your impact"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'py-3'"
    />

<div class="p-2">
    <div fxLayout="row" fxLayoutAlign="center center">
        <a class="dash-board-reset-link" mat-menu-item (click)="doResetDashBoardFilters()">Reset Filters</a>
    </div>
    <app-dashboard-filters 
    (dashBoardFilters)="setDashBoardFilters($event)" 
    [isPartnerDashBoard]="true" 
    [fieldFlex]="33"
    [partnerId]="partnerId"
    [resetDashBoardFilters]="resetDashBoardFilters"
    />

    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
            <mat-card class="gradient-pink tile p-2">
                <mat-icon>pie_chart</mat-icon>
                <h2>{{highLevelSummary.businessesLoaned}}</h2>
                <p>Businesses Loaned</p>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
            <mat-card class="gradient-gray tile p-2">
                <mat-icon>payments</mat-icon>
                <h2>{{highLevelSummary.amountDisbursed}}</h2>
                <p>Disbursed Loan Amount</p>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
            <mat-card class="gradient-brown tile p-2">
                <mat-icon>payments</mat-icon>
                <h2>{{highLevelSummary.outStandingAmount}}</h2>
                <p>Outstanding Loan Amount</p>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row wrap" #resizedDiv>
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{loansDisbursedByGenderChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (loansDisbursedByGender && loansDisbursedByGender.length > 0) {
                    <app-pie-chart 
                    [data]="loansDisbursedByGender" 
                    [showLegend]="loansDisbursedByGenderShowLegend" 
                    [colorScheme]="chartSColorScheme" 
                    [showLabels]="loansDisbursedByGenderShowLabels" 
                    [explodeSlices]="loansDisbursedByGenderExplodeSlices" 
                    [doughnut]="loansDisbursedByGenderDoughnut"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }        
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{loansDisbursedByPipelineChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (loansDisbursedByPipeline && loansDisbursedByPipeline.length > 0) {
                    <app-pie-chart 
                [data]="loansDisbursedByPipeline" 
                [showLegend]="loansDisbursedByPipelineShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="loansDisbursedByPipelineShowLabels" 
                [explodeSlices]="loansDisbursedByPipelineExplodeSlices" 
                [doughnut]="loansDisbursedByPipelineDoughnut" 
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>Loans Disbursed By Status</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (loansDisbursedByStatus && loansDisbursedByStatus.length > 0) {
                    <ngx-charts-bar-vertical
                        [scheme]="chartSColorScheme"
                        [results]="loansDisbursedByStatus"
                        [gradient]="gradient"
                        [xAxis]="loansDisbursedByStatusShowXAxis"
                        [yAxis]="loansDisbursedByStatusShowYAxis"
                        [legend]="loansDisbursedByStatusShowLegend"
                        [showXAxisLabel]="loansDisbursedByStatusShowXAxisLabel"
                        [showYAxisLabel]="loansDisbursedByStatusShowYAxisLabel"
                        [xAxisLabel]="loansDisbursedByStatusYAxisLabel"
                        [yAxisLabel]="loansDisbursedByStatusXAxisLabel"
                        (select)="onSelect($event)"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }          
                </div>
            </mat-card>
        </div>  
        
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{loansDisbursedBySectorChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (loansDisbursedBySector && loansDisbursedBySector.length > 0) {
                    <app-pie-chart 
                    [data]="loansDisbursedBySector" 
                    [showLegend]="loansDisbursedBySectorShowLegend" 
                    [colorScheme]="chartSColorScheme" 
                    [showLabels]="loansDisbursedBySectorShowLabels" 
                    [explodeSlices]="loansDisbursedBySectorExplodeSlices" 
                    [doughnut]="loansDisbursedBySectorDoughnut"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }        
                </div>
            </mat-card>
        </div> 

        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{accessedVSOutStandingAmountByGenderChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (accessedVSOutStandingAmountByGender && accessedVSOutStandingAmountByGender.length > 0) {
                    <ngx-charts-bar-vertical-2d
                        [scheme]="chartSColorScheme"
                        [results]="accessedVSOutStandingAmountByGender"
                        [gradient]="gradient"
                        [xAxis]="accessedVSOutStandingAmountByGenderShowXAxis"
                        [yAxis]="accessedVSOutStandingAmountByGenderShowYAxis"
                        [legend]="accessedVSOutStandingAmountByGenderShowLegend"
                        [showXAxisLabel]="accessedVSOutStandingAmountByGenderShowXAxisLabel"
                        [showYAxisLabel]="accessedVSOutStandingAmountByGenderShowYAxisLabel"
                        [xAxisLabel]="accessedVSOutStandingAmountByGenderXAxisLabel"
                        [yAxisLabel]="accessedVSOutStandingAmountByGenderYAxisLabel"
                        (select)="onSelect($event)" 
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }         
                </div>
            </mat-card>
        </div>

        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{loansDisbursedBySegmentChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (loansDisbursedBySegment && loansDisbursedBySegment.length > 0) {
                    <app-pie-chart 
                [data]="loansDisbursedBySegment" 
                [showLegend]="loansDisbursedBySegmentShowLegend" 
                [colorScheme]="chartSColorScheme" 
                [showLabels]="loansDisbursedBySegmentShowLabels" 
                [explodeSlices]="loansDisbursedBySegmentExplodeSlices" 
                [doughnut]="loansDisbursedBySegmentDoughnut" 
                />
            } @else {
                <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
            }         
                </div>
            </mat-card>
        </div>

        @if (displayChart) {
        <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center center">                
                    <mat-card-title>{{topFourCountiesloansDisbursedChartTitle}}</mat-card-title>
                </mat-card-header>
                <div class="w-100 h-300p">
                    @if (topFourCountiesloansDisbursed && topFourCountiesloansDisbursed.length > 0) {
                    <ngx-charts-tree-map 
                    [results]="topFourCountiesloansDisbursed" 
                    [scheme]="chartSColorScheme"
                    [animations]="true"
                    />
                } @else {
                    <ng-container *ngTemplateOutlet="noDataPlaceholder"></ng-container>
                }        
                </div>
            </mat-card>
        </div> 
    }
  
    </div>

    <div fxLayout="row wrap">
        @if(isFinancialDashboard()){
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center">                
                    <mat-card-title>Loans Disbursed (KES)</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(accessedLoanDataDataSource, displayedColumns, 'ACCESSED_LOANS')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="accessedLoanDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                          
                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }

    @if(isFinancialDashboard()){
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center">                
                    <mat-card-title>Number of Loans by Partner</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(accessedLoanCountDataDataSource, displayedColumns, 'ACCESSED_LOANS_COUNT')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="accessedLoanCountDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanCountDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanCountDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Number of Loans </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
        <app-performance-summary />
    </div>
    </div>
   
</div>

<!-- Template for no data placeholder -->
<ng-template #noDataPlaceholder>
    <div class="no-data-placeholder">
      <p>No data available to display</p>
    </div>
  </ng-template>