<app-content-header
    icon="dashboard" 
    desc="Welcome to Jiinue Management Information System – Manage your data, monitor progress, and visualize your impact"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'py-3'"
    />

    <div class="p-2">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-button-toggle-group [(ngModel)]="selectedDashboardView" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="TA">Technical Assitance Summary</mat-button-toggle>
                <mat-button-toggle value="FI">Financial Summary</mat-button-toggle>
              </mat-button-toggle-group>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <a class="dash-board-reset-link" mat-menu-item (click)="doResetDashBoardFilters()">Reset Filters</a>
        </div>
        <app-dashboard-filters (dashBoardFilters)="setDashBoardFilters($event)" [isPartnerDashBoard]="true" [resetDashBoardFilters]="resetDashBoardFilters" [fieldFlex]="33.3"/>
        <app-tiles [dashBoardFilters]="dashBoardFilters" [selectedDashboardView]="selectedDashboardView"/>
        <app-info-cards [dashBoardFilters]="dashBoardFilters" [selectedDashboardView]="selectedDashboardView"/>
        @if(isFinancialDashboard()){
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" class="p-2"> 
                <app-analytics [dashBoardFilters]="dashBoardFilters"/>
            </div>
        </div>
    }
    </div>
    