.success-row {
    background-color: #42b183
}

.failed-row {
    background-color: #cc3535
}

.upload-container-padding {
    padding: 10px;
  }

  .delete-btn {
    color: #e90713 !important;
}

  .view-btn {
    color: #227749;
  }

  .mat-action-cell {
    display: flex;
    justify-content: center;
  }

  .mat-action-cell .mat-icon-button {
    margin: 0 4px;
  }

  .mat-action-cell .mat-icon-button:hover {
    color: #227749;
  }

  .mat-action-cell .mat-icon-button:focus {
    outline: none;
  }

  .mat-action-cell .mat-icon-button:focus-visible {
    outline: none;
  }