@if(authService.hasPermission('DASHBOARD_VIEW')){
<app-content-header
    icon="dashboard" 
    desc="Welcome to Jiinue Management Information System – Manage your data, monitor progress, and visualize your impact"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'py-3'"/>

<div class="p-2">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-button-toggle-group [(ngModel)]="selectedDashboardView" name="fontStyle" aria-label="Font Style">
            @if (showGeneralDashboardSelector()) {
                <mat-button-toggle value="GE">General Summary</mat-button-toggle>
            }
            @if (showFinancialDashboardSelector()) {
                <mat-button-toggle value="FI">Financial Summary</mat-button-toggle>
            }
            @if (showTADashboardSelector()) {
                <mat-button-toggle value="TA">Technical Assistance Summary</mat-button-toggle>
            }                  
            @if (showMentorShipDashboardSelector()) {
                <mat-button-toggle value="MENTOR">Mentorship Summary</mat-button-toggle>
            }           
            @if (showMonitoringDashBoardSelector()) {
                <mat-button-toggle value="MONITOR">Monitoring Summary</mat-button-toggle>
            }
          </mat-button-toggle-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <a class="dash-board-reset-link" mat-menu-item (click)="doResetDashBoardFilters()">Reset Filters</a>
    </div>
    <app-dashboard-filters 
    (dashBoardFilters)="setDashBoardFilters($event)"
    [resetDashBoardFilters]="resetDashBoardFilters" 
    [fieldFlex]="filterFieldFlex"
    [dashboardTypeFilter]="currentDashBoardTypeFilters"
    />
    @defer (on viewport) {
        <app-tiles [dashBoardFilters]="dashBoardFilters" [dashboardTypeFilter]="currentDashBoardTypeFilters"/>
    } @placeholder {
        <div class="p-2"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
    }
    @defer (on viewport) {
        <app-info-cards [dashBoardFilters]="dashBoardFilters" [dashboardTypeFilter]="currentDashBoardTypeFilters"/>
    } @placeholder {
        <div class="p-2"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
    }

    @if(currentDashBoardTypeFilters.isFinancialDashboard){
    @defer (on viewport) {
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="100" class="p-2"> 
            <app-analytics [dashBoardFilters]="dashBoardFilters"/>
        </div>
    </div>
    } @placeholder {
        <div class="p-2"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
    }
    }

    
    <div fxLayout="row wrap">
        @if(currentDashBoardTypeFilters.isFinancialDashboard){
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center" class="card-chart-header bg-primary">                
                    <mat-card-title>Loans Disbursed (KES)</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(accessedLoanDataDataSource, displayedColumns, 'ACCESSED_LOANS')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="accessedLoanDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                          
                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Gender Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }

    @if(currentDashBoardTypeFilters.isTADashboard){
        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center" class="card-chart-header bg-primary">                
                    <mat-card-title>Number of refugees and PLWD benefitted from JGP technical Assistance</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(refugeesAndPlwdtrainedBusinessesCountDataPerGenderSource, refugeesAndPlwdDisplayedColumnsTrainedPerGender, 'BUSINESSES_TRAINED_PLWD')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="refugeesAndPlwdtrainedBusinessesCountDataPerGenderSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Gender Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Number of Trained Businesses </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="refugeesAndPlwdDisplayedColumnsTrainedPerGender"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: refugeesAndPlwdDisplayedColumnsTrainedPerGender;"></mat-row>
                    </mat-table>
                </div>
            </mat-card>
        </div>
    }

    @if(currentDashBoardTypeFilters.isTADashboard){
        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center" class="card-chart-header bg-primary">                
                    <mat-card-title>Businesses Trained By TA Type</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(trainedBusinessesCountDataPerTaTypeSource, displayedColumnsTrainedPerTaType, 'BUSINESSES_TRAINED_TA_TYPE')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="trainedBusinessesCountDataPerTaTypeSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayPartnerTrainedBusinessesCountPerTaType(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="taType">
                            <mat-header-cell *matHeaderCellDef> TA Type </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayTaTypeTrainedBusinessesCountPerTaType(i) ? element.taType : '' }}
                            </mat-cell>
                          </ng-container>

                          
                        <ng-container matColumnDef="genderCategory">
                            <mat-header-cell *matHeaderCellDef> Gender Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderCategory}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="businessesTrained">
                            <mat-header-cell *matHeaderCellDef> Trained Businesses </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.businessesTrained}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsTrainedPerTaType"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsTrainedPerTaType;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }

    @if(currentDashBoardTypeFilters.isTADashboard){
        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center" class="card-chart-header bg-primary">                
                    <mat-card-title>Businesses Trained By Partner</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(trainedBusinessesCountDataDataSource, displayedColumns, 'BUSINESSES_TRAINED')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="trainedBusinessesCountDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayTrainedBusinessesCountDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayTrainedBusinessesCountDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                          
                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Gender Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Trained Businesses </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }

    @if(currentDashBoardTypeFilters.isFinancialDashboard){
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center" class="card-chart-header bg-primary">                
                    <mat-card-title>Number of Loans by Partner</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(accessedLoanCountDataDataSource, displayedColumns, 'ACCESSED_LOANS_COUNT')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="accessedLoanCountDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanCountDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanCountDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Number of Loans </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }
    @if(!currentDashBoardTypeFilters.isMentorShipDashboard && !currentDashBoardTypeFilters.isMonitoringDashBoard){
    @defer (on viewport) {
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
        <app-performance-summary [selectedDashboardView]="selectedDashboardView"/>
    </div>
    } @placeholder {
        <div class="p-2"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
    }
  }

  @if(currentDashBoardTypeFilters.isMonitoringDashBoard){
    @defer (on viewport) {
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
        <app-monitoring-dashboard [dashBoardFilters]="dashBoardFilters"/>
    </div>
    } @placeholder {
        <div class="p-2"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
    }
  }
    </div>
    

   
</div>

}
@else {
    <app-no-permission />
}