@if(authService.hasPermission('DASHBOARD_VIEW')){
<app-content-header
    icon="dashboard" 
    desc="Welcome to Jiinue Management Information System – Manage your data, monitor progress, and visualize your impact"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'py-3'"/>

<div class="p-2">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-button-toggle-group [(ngModel)]="selectedDashboardView" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="FI">Financial Summary</mat-button-toggle>
            <mat-button-toggle value="TA">Technical Assistance Summary</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <a class="dash-board-reset-link" mat-menu-item (click)="doResetDashBoardFilters()">Reset Filters</a>
    </div>
    <app-dashboard-filters (dashBoardFilters)="setDashBoardFilters($event)" [isPartnerDashBoard]="false" [showTADashboard]="isTADashboard()" [resetDashBoardFilters]="resetDashBoardFilters" [fieldFlex]="filterFieldFlex"/>
    <app-tiles [dashBoardFilters]="dashBoardFilters" [selectedDashboardView]="selectedDashboardView"/>
    <app-info-cards [dashBoardFilters]="dashBoardFilters" [selectedDashboardView]="selectedDashboardView"/>

    @if(isFinancialDashboard()){
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="100" class="p-2"> 
            <app-analytics [dashBoardFilters]="dashBoardFilters"/>
        </div>
    </div>
}

    
    <div fxLayout="row wrap">
        @if(isFinancialDashboard()){
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center">                
                    <mat-card-title>Loans Disbursed (KES)</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(accessedLoanDataDataSource, displayedColumns, 'ACCESSED_LOANS')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="accessedLoanDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                          
                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }

    @if(isTADashboard()){
        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center">                
                    <mat-card-title>Businesses Trained By Partner</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(trainedBusinessesCountDataDataSource, displayedColumns, 'BUSINESSES_TRAINED')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="trainedBusinessesCountDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayTrainedBusinessesCountDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayTrainedBusinessesCountDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                          
                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Trained Businesses </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }

    @if(isFinancialDashboard()){
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="p-2"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="space-between center">                
                    <mat-card-title>Number of Loans by Partner</mat-card-title>
                    <button mat-raised-button color="primary" (click)="gs.exportToExcel(accessedLoanCountDataDataSource, displayedColumns, 'ACCESSED_LOANS_COUNT')"><mat-icon>download</mat-icon> Excel</button>
                </mat-card-header>
                <div class="p-2 table-container">
                    <mat-table #table [dataSource]="accessedLoanCountDataDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanCountDataYear(i) ? element.year : '' }}
                            </mat-cell>
                          </ng-container>
                        <ng-container matColumnDef="partnerName">
                            <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index">
                              {{ shouldDisplayAccessedLoanCountDataPartnerName(i) ? element.partnerName : '' }}
                            </mat-cell>
                          </ng-container>

                        <ng-container matColumnDef="genderName">
                            <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.genderName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Number of Loans </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <!-- mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator -->
                </div>
            </mat-card>
        </div>
    }
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" class="p-2"> 
        <app-performance-summary [selectedDashboardView]="selectedDashboardView"/>
    </div>
    </div>
    

   
</div>

}
@else {
    <app-no-permission />
}